apiVersion: v1
kind: Service
metadata:
  name: reviews
  namespace: reviews
  labels:
    app.kubernetes.io/created-by: eks-workshop
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/component: service
    app.kubernetes.io/instance: reviews
    app.kubernetes.io/name: reviews
